@for (book of books; track book.key) {
<ul>
  <li>{{ book.title }}</li>
  <li>
    <img
      src="{{'https://covers.openlibrary.org/b/id/' + book.covers[0] + '-M.jpg'}}" alt="" />
  </li>
  <a [routerLink]="['/details', book.key]">details</a>

</ul>
}
